body, html {
    width: 100%;
    height: 100%;
    margin:0px;
    background-color:#E5E5E5;
    font-family:Arial, Helvetica, sans-serif;
  }

#container{
    width: fit-content;
}
#head img{
    float: none;
    margin: 20px;
}
#head{
    float: none;
    background-image: linear-gradient(to right, rgba(0, 74, 117, .6), rgba(0, 74, 117, .6)), url('img/work-desk__dustin-lee.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:#ffffff;
    font-size: 1.4em;

}
#h-content{
    margin-top:200px;
    text-align: center;
}
#h-content p{
    width: 35%;
    margin-left: 32%;
}
#content1{
    text-align: center;
}
#content2{
    margin-top: 50px;
    /* margin:auto; */
    margin-left:2%;
    /* display:flex; */
    justify-content:center;
    
    /* width: 100%; */
    

}
.data{
  display: inline-block;
  position: relative;
  width: 25%;
  height: auto;
  margin-left:  2%;
  margin-right: 2%;
  padding: 10px 15px 10px 15px;
  border: solid 1.5px #d3d3d3;
  margin-top: 10px;
}
.data h3 i{
    float: right;
}
.data h3{
   width: 100%;
}
#notif{
   /* top:0px; */
   height: 50px;
   margin-bottom: 20px;

    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
    /* background-color: chartreuse; */
}

#notif  button{
    float: right;
    margin-top: 10px;
}

#do{
    border-radius: 5px;
    border: solid 3px #ffffff;
    /* background-color: none; */
    color: #ffffff;
    font-style: normal;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
}
#do:hover{
    border-color:#004a75;
    color: #007BC1;
    background-color: #ffffff;
    
}
#foot{
    text-align: center;
    background-color: #004a75 ;
    /* height: 90px; */
    padding-top: 15px;
    padding-bottom: 15px;

    color: white;
}

#sidepanel{
    width: 550px;
    background-color: #007BC1;
    color:white;
    height: 0px;
    padding: 0px;
    position: fixed;
    bottom: 0px;
    left: 10px;
    
}
.clickeffect{
  
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  
}
.clickeffect:active {
    background-color: #3e8e41;
  
    transform: translateY(4px);
  }


  @media only screen and (max-width: 960px) and (min-width: 480px){
    .data{
        display: inline-block;
        position: relative;
        width: 35%;
        height: auto;
        margin-top: 10px;
        /* margin-left:  2%; */
        /* margin-right: 2%; */
        padding: 10px 15px 10px 15px;
        border: solid 1.5px #d3d3d3;
      }
      #sidepanel{
        width: 400px;
        background-color: #007BC1;
        color:white;
        height: 0px;
        padding: 0px;
        position: fixed;
        bottom: 0px;
        left: 10px;
        
    }
    #head{
        /* margin-bottom: 350px; */
    }
    #h-content p{
        width: 90%;
        margin-left: 5%;
    }
   }
   @media only screen and (max-width: 480px) {
    #notif{
        /* top:0px; */
        height: 50px;
        margin-bottom: 20px;
     
         width: 100%;
         margin-left: 25%;
         margin-bottom: 20px;
         /* background-color: chartreuse; */
     }
     #notif p{
    float: left;
    width: 90%;
    /* background-color: cyan; */
}
    .data{
        display: inline-block;
        position: relative;
        width: 85%;
        height: auto;
        margin-top: 10px;
        /* margin-left:  2%; */
        /* margin-right: 2%; */
        padding: 10px 15px 10px 15px;
        border: solid 1.5px #d3d3d3;
      }
    /* #h-content p{
        width: 100%;
        /* margin-left: 5%; */
    } */
    #sidepanel{
        width: 50%;
        background-color: #007BC1;
        color:white;
        height: 0px;
        padding: 0px;
        position: fixed;
        bottom: 0px;
        left: 10px;
        
    }
   